<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Epc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Epc.presentation.EpcModelWizardID"
            name="%_UI_EpcModelWizard_label"
            class="Epc.presentation.EpcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EpcModelFile.gif">
         <description>%_UI_EpcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Epc -->
      <editor
            id="Epc.presentation.EpcEditorID"
            name="%_UI_EpcEditor_label"
            icon="icons/full/obj16/EpcModelFile.gif"
            extensions="epc"
            class="Epc.presentation.EpcEditor"
            contributorClass="Epc.presentation.EpcActionBarContributor">
      </editor>
   </extension>
</plugin>
